/* COMMON */
* {
  font-family: 'Sora', sans-serif;
}
:root{
  --add-color: #00BB72;
  --remove-color: #DB4437;
  --icon-color: #f3f6fc;
  --submit-color: #0b57d0;
}
/* PAGE */
body {
  display: flex;
  justify-content: center;
  font-family: 'Sora', sans-serif;
  height: 100vh;
}
.whole-container {
  border: 4px solid grey;
  border-radius: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 100px;
  align-self: center;
  width: 60%;
  height: 80% ;
  box-shadow: 0 0 5px #333;
  overflow: hidden;
}
/* FORM */
.grocery-form {
  text-align: center;
  border: 2px solid red;
  border-radius: 50px;
  padding: 10px;
  /* width: 80%;
  height: 100%; */
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 20px;
    box-shadow: 0 0 5px #333;

}
.alert{}
.grocery-form h3 {
  border: 3px solid orange;
  border-radius: 60px;
  font-size: 60px;
}
.grocery-form .controller {
  border: 3px solid blue;
  border-radius: 16px;
}
.grocery-form .controller #grocery {
  font-size: 20px;
  border-radius: 16px;
}
.grocery-form .controller .submit-btn {
  font-size: 20px;
  border: none;
  background-color: #fff;
  color: var(--submit-color); 
  cursor: pointer;
}
/* LIST */
.grocery-container {
  border: 2px solid black;
  border-radius: 25px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-auto-flow: row;
}
.grocery-list {
  border: 3px solid brown;
  display: grid;
  grid-auto-flow: row;
}
.grocery-list__item {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid turquoise;
  border-radius: 25px;
  box-shadow: inset 0 5px 5px -5px #333;

}
.grocery-list__item .title {}
.grocery-list__item .edit-btn {
  font-variation-settings: 'wght' 300 'opsz' 20 'GRAD' 200;
  border: none;
  background: none;
  color: var(--add-color);
  cursor: pointer;
}
.grocery-list__item .delete-btn {
  font-variation-settings: 'wght' 300 'opsz'20 'GRAD' 200;
  border: none;
  background: none;
  color: var(--remove-color);
  cursor: pointer;
}





/* CLEAR ITEMS BUTTON */
.clear-btn {
  border: none;
  border-radius: 50px;
  background: var(--icon-color: #f3f6fc);
  cursor: pointer;
}


